
/.idea/
# IDE 的文件

*.mca
*.nbt
# 存档文件
*.log
*.log.gz
# 日志文件

# Velocity
/Velocity/logs
/Velocity/lang

# 编译文件
/Velocity/plugins/librelogin/lib
# librelogin
/Velocity/plugins/luckperms/libs
/Velocity/plugins/luckperms/translations
/Velocity/plugins/luckperms/luckperms-h2-v2.mv.db
# luckperms
/Velocity/plugins/skinsrestorer/cache
/Velocity/plugins/skinsrestorer/cooldowns
/Velocity/plugins/skinsrestorer/locales
/Velocity/plugins/skinsrestorer/players
/Velocity/plugins/skinsrestorer/skins
# skinsrestorer
/Velocity/plugins/venturechat/PlayerData
# venturechat

#############
# limbo
#############
# 文件
/limbo/.console_history

# 文件夹
/limbo/logs
/limbo/libraries
/limbo/cache
/limbo/versions

/limbo/plugins/.paper-remapped

/limbo/world/stats
/limbo/world/playerdata
/limbo/world/datapacks
/limbo/world/advancements


#############
# arclightMaomCity
#############
/arclightMaomCity/logs
/arclightMaomCity/cache
/arclightMaomCity/libraries
/arclightMaomCity/.fabric
/arclightMaomCity/.arclight
/arclightMaomCity/showdown
/arclightMaomCity/versions
/arclightMaomCity/assets

/arclightMaomCity/world/stats
/arclightMaomCity/world/playerdata
/arclightMaomCity/world/datapacks
/arclightMaomCity/world/advancements

/arclightMaomCity/plugins/GSit/data
/arclightMaomCity/plugins/GSit/lang

/arclightMaomCity/plugins/PlaceholderAPI/expansions

/arclightMaomCity/plugins/PlayerPoints/commands
/arclightMaomCity/plugins/PlayerPoints/locale
/arclightMaomCity/plugins/PlayerPoints/playerpoints.db

/arclightMaomCity/plugins/RoseGarden/commands/
/arclightMaomCity/plugins/RoseGarden/tmp/

/arclightMaomCity/plugins/spark/tmp-client/

/arclightMaomCity/plugins/TrMenu/lang/
/arclightMaomCity/plugins/TrMenu/data/
/arclightMaomCity/plugins/TrMenu/global.db
/arclightMaomCity/plugins/TrMenu/data.db

/arclightMaomCity/plugins/Dominion/languages
/arclightMaomCity/plugins/Dominion/dominion.db
/arclightMaomCity/plugins/Dominion/dominion.db-journal


#############
# arclightAtlas
#############
/arclightAtlas/logs
/arclightAtlas/cache
/arclightAtlas/libraries
/arclightAtlas/.fabric
/arclightAtlas/.arclight
/arclightAtlas/showdown
/arclightAtlas/versions
/arclightAtlas/assets

/arclightAtlas/world/stats
/arclightAtlas/world/playerdata
/arclightAtlas/world/datapacks
/arclightAtlas/world/advancements
/arclightAtlas/world/pokemon
/arclightAtlas/world/pokedex


/arclightAtlas/plugins/GSit/data
/arclightAtlas/plugins/GSit/lang

/arclightAtlas/plugins/PlaceholderAPI/expansions

/arclightAtlas/plugins/PlayerPoints/commands
/arclightAtlas/plugins/PlayerPoints/locale
/arclightAtlas/plugins/PlayerPoints/playerpoints.db

/arclightAtlas/plugins/RoseGarden/commands/
/arclightAtlas/plugins/RoseGarden/tmp/

/arclightAtlas/plugins/spark/tmp-client/

/arclightAtlas/plugins/TrMenu/lang/
/arclightAtlas/plugins/TrMenu/data/
/arclightAtlas/plugins/TrMenu/global.db
/arclightAtlas/plugins/TrMenu/data.db

/arclightAtlas/plugins/Dominion/languages
/arclightAtlas/plugins/Dominion/dominion.db
/arclightAtlas/plugins/Dominion/dominion.db-journal
